.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.search-button, .voice-search-button,
.right-section .btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
}

.tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.1s ease-in-out;
}
.search-button:hover .tooltip, 
.voice-search-button:hover .tooltip, 
.right-section .btn:hover .tooltip {
  opacity: 0.8;
}