.search-bar {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    height: 44px;
    border-radius: 22px;
    border: 1px solid #e0e0e0;
    padding: 0 40px 0 16px;
    display: block;
    align-items: center;
    background-color: #fafafa;
    transition: box-shadow 0.05s ease-in-out;
}

.search-bar:focus {
    border: 1px solid #e0e0e0;
    outline: none;
}

.search-bar:hover, .search-bar:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
}


