.video-container {
  display: grid;
  column-gap: 16px;
  row-gap: 40px;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  z-index: -1;
}
@media (max-width: 550px) {
  .video-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  .video-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 1300px) {   
  .video-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .video-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}  


.thumbnail-row {
  margin-bottom: 12px;
  width: 300px;
  position: relative;
}
.thumbnail {
  width: 100%;
}
.video-time {
  position: absolute;
  bottom: 10px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2px 4px;
  font-weight: 500;
  background-color: #030303;
}



.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture {
  width: 50px;
  vertical-align: top;
  margin:0;
  padding-top:10px;
}
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.video-title {
  font-size: 14px;
  width: 100%;
  font-weight: 600;
  /* line-height: 20px; */
  color: #030303; 
}
.video-author,
.video-stats {
  width: 100%;
  color: rgb(96, 96, 96);
}
.video-author {
  margin-bottom: 4px;
}


